<div class="main">
  <p>You have an appointment is ....</p>
  <p>どちらかお選びください</p>
  <div class="button">
    <%= link_to image_tag('apo_yes_500.png', :class => "link"),'appointment' %>
    <%= link_to image_tag('apo_no_500.png', :class => "link"), 'noAppointment' %>
  </div>
</div>
