<!DOCTYPE html>
<html>

  <body>

    <div class="main">
      <p>Please push the button</p>
      <p>ボタンをお選びください</p>

      <div class="button">
        <%= link_to image_tag('visit_500.png', :class => "link"), 'visit' %>
        <%= link_to image_tag('inter_500.png', :class => "link"), 'inter' %>
        <%= link_to image_tag('others_500.png', :class => "link"), 'others' %>
      </div>
    </div>

  </body>
</html>
