<div class="main">
  <p>Please push the button</p>
  <p>ボタンをお選びください</p>
  <div class="button">
    <%= link_to image_tag('vis.png', :class => "link"), 'visit' %>
    <%= link_to image_tag('inter.png', :class => "link"), 'inter' %>
    <%= link_to image_tag('others.png', :class => "link"), 'others' %>
  </div>
</div>
